<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
  <%- include('./partial/nav.ejs') %> 
  <div class="books content">
    <h1>My Library</h1>
        <h3 class="title"> <em>Title :</em> <%= book.title %> </h3>
       
        <h5 class="author"> <em>Author :</em> <%= book.author %> </h5>
        
        <p class="description"> <em>Book Summary :</em> <%= book.description  %> </p>
       
        <h6 class="date"> <em>Published Date :</em> <%= book.release_date %> </h6>
  </div>
  <div>
    <button class="btn btn-danger"><a class="delete" data-doc ="<%= book.id  %> ">delete</a></button>
  </div>
  <script>
    const trash = document.querySelector('a.delete');
    trash.addEventListener('click',(e)=>{
        const endpoint = `/books/${trash.dataset.doc}`;
        fetch(endpoint,{
            method:'DELETE'
        })
        .then(()=>{
            fetch(endpoint,{
                method:'DELETE'
            })
        })
        .catch((err)=>{
            console.log(err)
        })
    })
  </script>
</body>
</html>